@import '../../variables.scss';

.Popup {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.popup-inner {
  background-color: #000000;
  border: 1px solid $main-accent-color;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 50%;
  left: 20%;
  position: absolute;
  top: 25%;
  width: 60%;
}

.exit-btn {
  cursor: pointer;
  display: block;
  margin: {
    left: auto;
    right: 2%;
    top: 2%;
  }
  width: 3%;
  &:active {
    background-color: grey;
  }
}

.popup-header {
  color: $main-accent-color;
  font: {
    family: $large-font;
    size: 3rem;
    weight: normal;
  }
  margin-top: 5%;
}

.popup-desc {
  font: {
    size: 1.4rem;
    weight: 300;
  }
  margin-top: 7%;
}

.popup-back-link {
  font: {
    size: 1.5rem;
    weight: 300;
  }
  margin: {
    bottom: 2%;
    left: auto;
    right: 2%;
    top: auto;
  }
  text-decoration: none;
  &:active {
    text-decoration: underline;
  }
  &:hover {
    color: $main-accent-color;
  }
}

@media (max-width: 1055px) {
  .popup-header {
    font-size: 2rem;
  }
  .popup-desc {
    font-size: 1rem;
  }
}

@media (max-width: 830px) {
  .popup-desc {
    margin: {
      left: auto;
      right: auto;
    }
    width: 50%;
  }
  .popup-back-link {
    font-size: 1.2rem;
  }
}

@media (max-width: 430px) {
  .popup-header {
    font-size: 1.8rem;
  }
}
