@import '../../variables.scss';

* {
  box-sizing: border-box;
  color: $main-color;
  font-family: $small-font;
  margin: 0;
  padding: 0;
}

.App {
  background-color: #000000;
  height: 100vh;
  text-align: center;
  width: 100vw;
}

button, Link {
  cursor: pointer;
}
