@import '../../variables.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  background-color: #000000;
  color: $main-accent-color;
  height: 100vh;
  text-align: center;
  width: 100vw;
}

button {
  cursor: pointer;
}
