@import '../../variables.scss';

.About {
  height: 100vh;
  width: 100vw;
}

.about-back {
  background: {
    image: url('../../images/main/rmnp2.JPG');
    position: center;
    repeat: no-repeat;
    size: cover;
  }
  height: 100%;
  position: fixed;
  width: 100%;
}

.about-wrapper {
  background: {
    color: rgba(0, 0, 0, 0.7);
    image: url('../../images/main/rmnp2.JPG');
    position: center;
    repeat: no-repeat;
    size: cover;
  }
  background-blend-mode: darken;
  border: 1px solid $main-color;
  height: 675px;
  margin: {
    right: auto;
    top: auto;
  }
  overflow: visible;
  padding: 2%;
  width: 95%;
}

.bio-wrapper {
  display: flex;
  justify-content: space-between;
  margin: {
    left: auto;
    right: auto;
  }
  width: 95%;
}

.profile-img {
  border: 1px solid $main-color;
  height: 500px;
  position: relative;
  top: -70px;
}

.bio-text {
  text-indent: 20px;
  width: 100%;
}

.bio-text-wrapper {
  display: block;
  font: {
    size: 1.4rem;
    weight: 300;
  }
  text-align: left;
  width: 55%;
}

.bio-footer {
  display: flex;
  justify-content: space-between;
  margin: {
    left: auto;
    right: auto;
    top: auto;
  }
  width: 95%;
}

.bio-name {
  font: {
    family: $large-font;
    size: 5rem;
    weight: normal;
  }
  margin-top: auto;
  max-height: 85px;
}

.back-btn {
  font: {
    size: 2rem;
    weight: 300;
  }
  margin-top: auto;
  text: {
    align: right;
    decoration: none;
  }
  &:hover {
    color: $secondary-accent-1;
  }
}

@media (max-width: 1150px) {
  .bio-text {
    font-size: 1.2rem;
  }
  .profile-img {
    height: 450px;
  }
  .bio-name {
    font-size: 4rem;
  }
  .bio-footer {
    margin-top: 100px;
  }
}

@media (max-width: 1025px) {
  .bio-text {
    font-size: 1.1rem;
  }
  .profile-img {
    height: 400px;
  }
}

@media (max-width: 900px) {
  .bio-text {
    font-size: 0.9rem;
  }
  .profile-img {
    height: 350px;
  }
  .bio-footer {
    margin-top: 200px;
  }
}

@media (max-width: 740px) {
  .bio-text {
    font-size: 0.7rem;
  }
  .profile-img {
    height: 300px;
  }
  .bio-footer {
    margin-top: 250px;
  }
  .bio-name {
    font-size: 3rem;
  }
}
