@import '../../variables.scss';

.Splash {
  height: 100vh;
  width: 100vw;
}

.splash-back {
  background: {
    image: url('../../images/main/rmnp-road2.JPG');
    position: center;
    repeat: no-repeat;
    size: cover;
  }
  height: 100%;
  position: fixed;
  width: 100%;
}

.blur-wrapper {
  backdrop-filter: blur(4px);
  height: 100%;
  width: 100%;
}

.menu-wrapper {
  background: {
    image: url('../../images/main/rmnp-road2.JPG');
    position: center;
    repeat: no-repeat;
    size: contain;
  }
  border: 1px solid $main-color;
  width: 85%;
}

.contain-img {
  visibility: hidden;
  width: 100%;
}
