@import '../../variables.scss';

.Splash {
  height: 100vh;
  width: 100vw;
}

.splash-back {
  background: {
    image: url('../../images/main/rmnp-road2.JPG');
    position: center;
    repeat: no-repeat;
    size: cover;
  }
  height: 100%;
  position: fixed;
  width: 100%;
}

.blur-wrapper {
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2%;
  height: 100%;
  width: 100%;
}

.menu-wrapper {
  background: {
    image: url('../../images/main/rmnp-road2.JPG');
    position: center;
    repeat: no-repeat;
    size: cover;
  }
  border: 1px solid $main-color;
  height: 675px;
  margin: {
    right: auto;
    top: auto;
  }
  overflow: hidden;
  padding: 2%;
  width: 95%;
}

.text-wrapper {
  display: flex;
  height: 100%;
  justify-content: space-between;
  width: 100%;
}

h1 {
  font: {
    family: $large-font;
    size: 7rem;
    weight: normal;
  }
  margin: {
    top: auto;
    bottom: -2.5%;
  }
}

.options-wrapper-lrg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.link-wrapper {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.menu-link {
  font: {
    size: 2.4rem;
    weight: 300;
  }
  margin-bottom: 10%;
  text-decoration: none;
  &:active {
    text-decoration: underline;
  }
}

#photo-link {
  &:hover {
    color: $main-accent-color;
  }
}

#about-link {
  &:hover {
    color: $secondary-accent-1;
  }
}

#contact-link {
  &:hover {
    color: $secondary-accent-2;
  }
}
