@import '../../variables.scss';

.Contact {
  height: 100vh;
  width: 100vw;
}

.contact-back {
  background: {
    image: url('../../images/main/van-skyline2.JPG');
    position: center;
    repeat: no-repeat;
    size: cover;
  }
  height: 100%;
  position: fixed;
  width: 100%;
}

.contact-wrapper {
  background: {
    color: rgba(0, 0, 0, 0.7);
    image: url('../../images/main/van-skyline2.JPG');
    position: center;
    repeat: no-repeat;
    size: cover;
  }
  background-blend-mode: darken;
  border: 1px solid $main-color;
  display: flex;
  flex-direction: column;
  height: 750px;
  justify-content: space-between;
  margin: {
    right: auto;
    top: auto;
  }
  overflow: visible;
  padding: 2%;
  width: 95%;
}

.email-input-wrapper {
  display: flex;
  justify-content: space-between;
  margin: {
    left: auto;
    right: auto;
  }
  width: 90%;
}

.input-label {
  font: {
    size: 2rem;
    weight: 300;
  }
  margin-right: 20px;
}

.contact-input {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid $main-color;
  font: {
    size: 1.6rem;
    weight: 300;
  }
  outline: none;
  padding: 10px;
}

#email {
  height: 100%;
  width: 300px;
}

.message-input-wrapper {
  align-items: flex-start;
  display: flex;
  margin: {
    left: auto;
    right: auto;
  }
  width: 90%;
}

#message {
  height: 300px;
  width: 90%;
}

.title-input-wrapper {
  display: flex;
  justify-content: space-between;
  margin: {
    left: auto;
    right: auto;
  }
  width: 90%;
}

.contact-header {
  font: {
    family: $large-font;
    size: 5rem;
    weight: normal;
  }
}

.message-btn {
  background-color: $main-accent-color;
  border: none;
  color: #000000;
  font: {
    size: 1.4rem;
    weight: 300;
  }
  height: 50px;
  padding: 10px;
  margin: {
    bottom: auto;
    top: auto;
  }
  outline: none;
  &:active {
    background-color: $secondary-accent-1;
  }
}
