@import '../../variables.scss';

.Gallery {
  height: 100vh;
  width: 100vw;
}

.gallery-back {
  background: {
    color: rgba(0, 0, 0, 0.8);
    image: url('../../images/dakota-hogback2.JPG');
    position: center;
    repeat: no-repeat;
    size: cover;
  }
  background-blend-mode: darken;
  height: 100%;
  position: fixed;
  width: 100%;
}

.blur-wrapper-2 {
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: {
    bottom: 0;
    left: 0;
    right: 0;
    top: 5%;
  }
  height: 100%;
  width: 100%;
}

.gallery-header {
  background: {
    color: rgba(0, 0, 0, 0.6);
    image: url('../../images/dakota-hogback2.JPG');
    position: 50% 12%;
    repeat: no-repeat;
  }
  background-blend-mode: darken;
  border: {
    bottom: 1px solid $main-color;
    top: 1px solid $main-color;
  }
  display: flex;
  justify-content: space-between;
  margin-bottom: auto;
  padding: {
    left: 2%;
    right: 2%;
  }
}

.gallery-title {
  color: $main-accent-color;
  font: {
    family: $large-font;
    size: 6rem;
    weight: normal;
  }
}

.gallery-btn-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

#gallery-back-btn {
  &:hover {
    color: $main-accent-color;
  }
  margin: 0;
}

.ig-logo-2 {
  cursor: pointer;
  height: 50px;
  margin: {
    bottom: 5%;
    left: auto;
  }
  width: 50px;
}

.photo-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 40px;
  height: 100%;
  margin: {
    left: auto;
    right: auto;
  }
  overflow-x: scroll;
  padding: {
    bottom: 5%;
    top: 5%;
  }
  width: 96%;
}

.gallery-tile {
  border: 1px solid $main-color;
  cursor: pointer;
  height: 400px;
  margin: {
    left: auto;
    right: auto;
  }
  object-fit: cover;
  width: 400px;
  &:active {
    border: 1px solid $main-accent-color;
  }
  &:hover {
    filter: blur(2px);
  }
}
