@import '../../variables.scss';

.photo {

  height: 100vh;
  width: 100vw;

  &__background {
    background: {
      color: rgba(0, 0, 0, 0.6);
      image: url('../../images/rmnp-back.png');
      position: center;
      repeat: no-repeat;
      size: cover;
    }
    background-blend-mode: darken;
    height: 100%;
    padding: 2%;
    position: fixed;
    width: 100%;
  }

}

.port, .landscape {
  display: flex;
  height: 100%;
  justify-content: space-between;
  width: 100%;
}

.port__photo {
  border: 2px solid $main-color;
  height: 100%;
}

.landscape__photo {
  border: 2px solid $main-color;
  height: 75%;
}

.port__text-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  text-align: right;
}

.landscape__wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  text-align: left;
}

.landscape__title, .port__title {
  color: $main-accent-color;
  font: {
    family: $large-font;
    size: 6rem;
    weight: normal;
  }
}

.port__location, .landscape__location {
  font: {
    size: 1.6rem;
    weight: 300;
  }
}

.port__back-btn, .landscape__back-btn {
  &:hover {
    color: $main-accent-color;
  }
  &:active {
    text-decoration: underline;
  }
  font: {
    size: 2rem;
    weight: 300;
  }
  margin-top: auto;
  text-align: right;
  text-decoration: none;
}

.image-ctrl {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  bottom: 0;
  display: flex;
  left: 0;
  height: 30px;
  justify-content: space-around;
  margin: {
    bottom: 2%;
    left: 2%;
    right: auto;
    top: auto;
  }
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;

  &__arrow {
    cursor: pointer;
    height: 20px;
    &:hover {
      background-color: $main-accent-color;
    }
    &:active {
      background-color: $secondary-accent-1;
    }
  }

}


@media (max-width: 980px) {
  .photo-title {
    font-size: 5rem;
  }
}

@media (max-width: 900px) {
  .photo-title {
    font-size: 4rem;
  }
}

@media (max-width: 830px) {
  .photo-title {
    font-size: 3rem;
  }
}

@media (max-width: 775px) {
  .photo-location {
    font-size: 1.4rem;
  }
  .port-photo {
    height: 90%;
  }
}

@media (max-width: 710px) {
  .photo-location {
    font-size: 1.2rem;
  }
  .port-photo {
    height: 75%;
  }
  .photo-title {
    font-size: 2rem;
  }
}

@media (max-width: 560px) {
  .photo-location {
    font-size: 1rem;
  }
  .port-photo {
    height: 70%;
  }
  .photo-title {
    font-size: 1.5rem;
  }
}

@media (max-width: 450px) {
  .photo-location {
    font-size: 0.5rem;
  }
  .port-photo {
    height: 60%;
  }
  .photo-title {
    font-size: 0.7rem;
  }
}
