@import '../../variables.scss';

.Photo {
  height: 100vh;
  width: 100vw;
}

.photo-back {
  background: {
    color: rgba(0, 0, 0, 0.6);
    image: url('../../images/rmnp-back.png');
    position: center;
    repeat: no-repeat;
    size: cover;
  }
  background-blend-mode: darken;
  height: 100%;
  padding: 2%;
  position: fixed;
  width: 100%;
}

.port-wrap {
  display: flex;
  height: 100%;
  justify-content: space-between;
  width: 100%;
}

.landscape-photo {
  border: 2px solid $main-color;
  height: 100%;
}

.landscape-text-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  text-align: right;
}

.photo-title {
  color: $main-accent-color;
  font: {
    family: $large-font;
    size: 6rem;
    weight: normal;
  }
}

.photo-location {
  font: {
    size: 1.6rem;
    weight: 300;
  }
}

.photo-back-btn {
  &:hover {
    color: $main-accent-color;
  }
  &:active {
    text-decoration: underline;
  }
  font: {
    size: 2rem;
    weight: 300;
  }
  margin: 0;
  text-decoration: none;
}
