@import url('https://fonts.googleapis.com/css?family=Thasadith|Work+Sans:200,300,500&display=swap');

$large-font: 'Thasadith', sans-serif;
$small-font: 'Work Sans', sans-serif;

$main-color: #ffffff;
$main-accent-color: #FFD700;
$secondary-accent-1: #4FD5FF;
$secondary-accent-2: #FF7373;
